/*----------------------------------------------------------*/
/* STANDARD COLOR SCHEME FOR WNLS                           */
/*----------------------------------------------------------*/
/* X-Light Orange: #FF9E7A                                  */
/* Light Orange:   #EC784D                                  */
/* Base Orange:    #DD5522                                  */
/* Dark Orange:    #B03B10                                  */
/* X-Dark Orange:  #892500                                  */
/*----------------------------------------------------------*/

/*----------------------------------------------------------*/
/* PAGE STYLES                                              */
/*----------------------------------------------------------*/
body {
	background: rgb(190,190,190) url(../images/bg-content.png) repeat;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: sans-serif;
	vertical-align: baseline;
}
a {
	text-decoration: none;
	color: #DD5522;
}
a:hover {
	text-decoration: underline;
}
img {
	max-width: 100%;
}
/*----------------------------------------------------------*/
/* UTILITY CLASSES                                          */
/*----------------------------------------------------------*/
.center {
	text-align: center;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clearfix {
	clear: both;
}
.row-fluid {
	clear: both;
}
.pull-right.item-image {
	margin: 0 0 20px 20px;
}.pull-left.item-image {
	margin: 0 20px 20px 0;
}
.phone-label{
	display: inline-block;
	text-align: left;
	width: 80px;
}
/*----------------------------------------------------------*/
/* PAGE SECTION STYLES                                      */
/*----------------------------------------------------------*/
.alertbar {
	color: #fff;
    background: #d02525;
	border-bottom: white 1px solid;
	padding: 20px;
    text-align: center;
    line-height: 1.5;
	font-size: large;
    overflow: hidden; 
    -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    inset 0 0 30px rgba(0, 0, 0, 0.5);
    box-shadow:         inset 0 0 30px rgba(0, 0, 0, 0.5);
}
.header {
	background: url(../images/bg-header.png) repeat;
}
.dropshadow {
	background: url(../images/bg-drop-shadow.png) repeat-x;
	position: relative;
	z-index: 10;
	height: 10px;
	
}
.content {
	background-color: white;
	margin-top: -10px;
	padding-bottom: 20px;
}
.footer {
	background: url(../images/bg-footer.png) repeat;
	color: white;
	line-height: 1.2em;
}
.copyright {
	background-color: rgb( 23, 23, 23 );
	color: white;
	line-height: 1.2em;
	font-size: small;
	text-align: center;
	padding: 10px 0;
}
/*----------------------------------------------------------*/
/* HORZONTAL NAVIGATION BAR                                 */
/*----------------------------------------------------------*/
.horiznav {
	background: url(../images/bg-nav.png) repeat-x;
	text-align: center;
}
.horiznav a:link,
.horiznav a:visited ,
.horiznav span {
    font-size: large;
	font-family: sans-serif;
	color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.horiznav a:hover,
.horiznav a:active,
.horiznav span:hover {
	color: #4e1400;
	-moz-transition: color 0.25s;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
}
.horiznav ul {
	margin: 0;
	padding: 0;
}
.horiznav li {
	background: url(../images/bg-nav-horiz-divider.png) center right no-repeat;
	margin: 0;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	cursor: pointer;
	cursor: hand;
}
.horiznav li:hover ul {
	display: block;
	margin-left: -20px;
}
.horiznav li:last-child {
	background-image: none;		/* Hide horizontal divider on last entry */
}
.horiznav li ul:before {
	/* Display drop shadow at the top of drop-down menus */
	display: block;
	background: url(../images/bg-nav-shadow.png) repeat-x;
	height: 10px;
	content: "";
}
.horiznav li ul {
	display: none;				/* Hide drop-down menus by default */
	position: absolute;
	margin-top: -1px;
	z-index: 20;				/* Float above divs below */
}
.horiznav li ul li {
	text-align: left;
}
.horiznav li ul li {
	display: block;
	background: #DD5522 url(../images/bg-nav-vert-divider.png) 0 bottom repeat-x;
}
.horiznav li ul li:last-child {
	background: #DD5522;
	border-bottom: 1px solid #c94a1d;
}
/*----------------------------------------------------------*/
/* VERTICAL NAVIGATION BAR                                  */
/*----------------------------------------------------------*/
.vertnav h3 {
	margin: 0 0 0 0px;
	/*padding: 0 0 0 20px;*/
	text-align: center;
	background: url(../images/bg-nav.png) repeat-x;
	border-top: 1px solid #ccc;
	color: white;
	text-transform: uppercase;
	font-weight: normal;
	font-size: large;
}
.vertnav h3:after {
	display: block;
	background: url(../images/bg-drop-shadow.png) repeat-x #D52;
	height: 10px;
	content: "";
}
.vertnav li {
	background: url(../images/bg-nav-vert-divider.png) 0 bottom repeat-x #D52;
	line-height: 40px;
	padding-left: 20px;
	list-style-type: none;
}
.vertnav li:last-child {
    background: #D52;
}
.vertnav a, .nav-header {
	color: white;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
}
.vertnav a:hover, .nav-header:hover {
	color: #4e1400;
    -moz-transition: color .25s;
    -webkit-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
.vertnav ul {
	margin: 0;
	padding: 0;
}
.vertnav ul ul {
	margin-left: -20px;
}
.vertnav ul ul:before {
	display: block;
	background: url(../images/bg-drop-shadow.png) repeat-x #ddd;
	height: 10px;
	content: "";
}
.vertnav ul ul li {
	background: url(../images/bg-nav-vert-divider-grey.png) 0 bottom repeat-x #ddd;
	padding-left: 40px;
}
.vertnav ul ul li:last-child {
	background: #ddd;
	border-bottom: 1px solid #999;
	padding-left: 40px;
}
.vertnav ul ul li a {
	color: black;
}
.vertnav ul ul li a:hover {
	color: #D52;
    -moz-transition: color .25s;
    -webkit-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
/*----------------------------------------------------------*/
/* MOBILE NAVIGATION BAR                                    */
/*----------------------------------------------------------*/
.mobile-horiznav {
	display: none;			/* Hide mobilenav at start.  Display only on small devices */
}
.mobile-horiznav li {
	width: 50%;				/* Only two menu entries on small screens */
	text-align: center;		/* Make them take up whole width and center text */
}
.mobile-horiznav li ul {
	left: 0;				/* Force left edge all the way to the left */
	width: 100%;			/* make menu entries span the whole width of the screen */
}
.mobile-horiznav li li {
	width: 100%;    		/* Make menu entries span the whole width of the screen */
}
/*----------------------------------------------------------*/
/* BREADCRUMBS                                              */
/*----------------------------------------------------------*/
.breadcrumb {
	background: url(../images/icon-home.png) no-repeat 0px 4px;
	margin: 0;
	padding-left: 18px;
	line-height: 1.5em;
	border-bottom: dotted 1px black;
}
.breadcrumb .pathway {
	color: #DD5522;
}
.breadcrumb .pathway:hover {
	text-decoration: underline;
}
.breadcrumb .divider {
	background: none;
	content: ">";
}
.breadcrumb li {
	display: inline;
	color: #000;
    text-transform: uppercase;
}
/*----------------------------------------------------------*/
/* PAGINATION                                               */
/*----------------------------------------------------------*/
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 10px;
  width: 100%;
}.pagination ul {
	margin: 0;
	padding: 0;
}.pagination li {
	display: inline-block;
	text-align: center;
	padding: 0;
	margin-left: 3px;
	min-width: 30px;
	height: 30px;
	line-height: 30px;
}.pagination li.pagination-start, .pagination li.pagination-end {
	display: none;
}.pagination a {
	display: block;
	text-decoration: none;
	color: #DD5522;
	padding: 0;
	margin-left: 3px;
	min-width: 30px;
	height: 30px;
	line-height: 30px;
}.pagination span.pagenav {
  cursor: default;
  color: #000;
}.pagination span.pagenav, a:active {
  outline: none;
}
/*----------------------------------------------------------*/
/* ARTICLE STYLES                                            */
/*----------------------------------------------------------*/
.item {
	margin-bottom: 30px;
}.article-info {
	font-size: 80%;
	margin-bottom: 10px;
}
.createdby:before {
	content: url('../images/icon-user.png');
	vertical-align: middle;
	height: 16px;
	width: 16px;
}
.modified:before {
	content: url('../images/icon-calendar.png');
	vertical-align: middle;
	height: 16px;
	width: 16px;
}
/*----------------------------------------------------------*/
/* RESPONSIVE DESIGN ADJUSTMENTS                            */
/*----------------------------------------------------------*/
/* Widescreen and large desktops */
@media only screen and (max-width : 1200px) {
	.horiznav li{				/* Reduce padding between menu items on smaller screens */
		padding: 0 12px;
	}
}
/* Desktops */
@media only screen and (max-width : 960px) {
	.horiznav li{				/* Reduce padding between menu items on smaller screens */
		padding: 0 8px;
	}
}
/* Vertical iPad and tablets */
@media only screen and (max-width : 767px) {
	#header-secondary-image {
		display: none;
	}	
	.content{
		margin-top: -10px;
		padding: 0;
	}	
	.horiznav {
		display: none;
	}
	.mobile-horiznav {
		display: block;
	}
}
/* Vertical cell phones */
@media only screen and (max-width : 480px) {
}
/*----------------------------------------------------------*/
/* TEXT STYLES                                              */
/*----------------------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	color: inherit;
	text-rendering: optimizelegibility;
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
	font-weight: normal;
	line-height: 1;
	color: #999;
}
h1 {
	font-size: 36px;
	line-height: 40px;
}
h2 {
	font-size: 30px;
	line-height: 40px;
}
h3 {
	font-size: 24px;
	line-height: 40px;
}
h4 {
	font-size: 18px;
	line-height: 20px;
}
h5 {
	font-size: 14px;
	line-height: 20px;
}
h6 {
	font-size: 12px;
	line-height: 20px;
}
h1 small {
	font-size: 24px;
}
h2 small {
	font-size: 18px;
}
h3 small {
	font-size: 14px;
}
h4 small {
	font-size: 14px;
}