/*----------------------------------------------------------*/
/* CSS RESET                                                */
/*----------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*----------------------------------------------------------*/
/* PAGE STYLES                                              */
/*----------------------------------------------------------*/
body {
	background: url(/templates/westsenators/images/bg-content.png) repeat;
}

#header-wrapper {
	background: url(/templates/westsenators/images/bg-header.png) repeat;
}

#header {
	max-width: 1200px;
	margin: 0 auto;
}

#navdropshadow {
	background: url(/templates/westsenators/images/bg-drop-shadow.png) repeat-x;
	position: relative;
	z-index: 10px;
	height: 10px;
}

#sitebody {
	background-color: white;
	margin-top: -10px;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.copyright {
	font-size: small;
	text-align: center;
	padding: 10px 0;
}


/*----------------------------------------------------------*/
/* PRIMARY NAVIGATION BAR                                   */
/*----------------------------------------------------------*/
#primaryNav a:link,
#primaryNav a:visited ,
#primaryNav span {
    font-size: large;
	font-family: sans-serif;
	color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

#primaryNav a:hover,
#primaryNav a:active,
#primaryNav span:hover {
	color: #4e1400;
	-moz-transition: color 0.25s;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
}

#primaryNav {
	background: url(/templates/westsenators/images/bg-nav.png) repeat-x;
	text-align: center;
}

#primaryNav li {
	background: url(/templates/westsenators/images/bg-nav-horiz-divider.png) center right no-repeat;
	margin: 0;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	text-align: left;
	display: inline-block;
}

#primaryNav li.last {
	background-image: none;
}

#primaryNav li ul {
	display: none;
}

#primaryNav li:hover ul {
	display: block;
	position: absolute;
	z-index: 20;
}

#primaryNav li:hover ul:before{
	display: block;
	background: url(/templates/westsenators/images/bg-nav-shadow.png) repeat-x;
	height: 10px;
	content: "";
}

#primaryNav li:hover li {
	display: block;
	background: #dd5426 url(/templates/westsenators/images/bg-nav-vert-divider.png) 0 bottom repeat-x;
}

#primaryNav li:hover li.last {
	background: #dd5426;
	border-bottom: 1px solid #c94a1d;
}


/*----------------------------------------------------------*/
/* MOBILE NAVIGATION BAR                                    */
/*----------------------------------------------------------*/
#mobileNav a:link,
#mobileNav a:visited,
#mobileNav span {
    font-size: large;
	font-family: sans-serif;
	color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

#mobileNav a:hover,
#mobileNav a:active,
#mobileNav span:active {
	color: #4e1400;
	-moz-transition: color 0.25s;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
}

#mobileNav {
	display: none;
	background-color: #dd5426;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	height: 38px;
}

#mobileNav li {
	background: #dd5426 url(/templates/westsenators/images/bg-nav-horiz-divider.png) center right no-repeat;
	display: inline-block;
	width: 50%;
	height: 36px;
	margin: 1px 0;
	line-height: 36px;
	text-align: center;
	float: left;
}

#mobileNav li.last {
	background-image: none;
}

#mobileNav li ul {
	display: none;
	position: absolute;
	left: 0;
	margin: 2px 0 0 0;
	width: 100%;
	border: none;
	z-index: 20;
}

#mobileNav li ul:before{
	display: block;
	background: url(/templates/westsenators/images/bg-nav-shadow.png) repeat-x;
	height: 10px;
	content: "";
}

#mobileNav li li {
	background: #dd5426 url(/templates/westsenators/images/bg-nav-vert-divider.png) 0 bottom repeat-x;
	border: none;
	margin: 0;
	width: 100%;
}

#mobileNav li li.last {
	background: #dd5426;
	border-bottom: 1px solid #c94a1d;
}


/*----------------------------------------------------------*/
/* BREADCRUMBS                                              */
/*----------------------------------------------------------*/
#breadcrumb {
	margin: 20px;
}

#breadcrumb li {
	display: inline;
	font-family: sans-serif;
	color: #000;
    text-transform: uppercase;
}

#breadcrumb a {
	text-decoration: none;
	color: #000;
}


/*----------------------------------------------------------*/
/* RESPONSIVE DESIGN                                        */
/*----------------------------------------------------------*/

/* Widescreen and large desktops */
@media only screen and (max-width : 1200px) {
	#primaryNav li{
		padding: 0 12px;
	}
}

/* Desktops */
@media only screen and (max-width : 960px) {
	#primaryNav li{
		padding: 0 8px;
	}
}

/* Vertical iPad and tablets */
@media only screen and (max-width : 767px) {
	#primaryNav {
		display: none;
	}

	#mobileNav{
		display: block;
	}
}

/*----------------------------------------------------------*/
/* TEXT STYLES                                              */
/*----------------------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 9px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	color: inherit;
	text-rendering: optimizelegibility;
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
	font-weight: normal;
	line-height: 1;
	color: #999;
}

h1 {
	font-size: 36px;
	line-height: 40px;
}

h2 {
	font-size: 30px;
	line-height: 40px;
}

h3 {
	font-size: 24px;
	line-height: 40px;
}

h4 {
	font-size: 18px;
	line-height: 20px;
}

h5 {
	font-size: 14px;
	line-height: 20px;
}

h6 {
	font-size: 12px;
	line-height: 20px;
}

h1 small {
	font-size: 24px;
}

h2 small {
	font-size: 18px;
}

h3 small {
	font-size: 14px;
}

h4 small {
	font-size: 14px;
}