/*----------------------------------------------------------*/
/* STANDARD COLOR SCHEME FOR WNLS                           */
/*----------------------------------------------------------*/
/* X-Light Orange: #FF9E7A                                  */
/* Light Orange:   #EC784D                                  */
/* Base Orange:    #DD5522                                  */
/* Dark Orange:    #B03B10                                  */
/* X-Dark Orange:  #892500                                  */
/*----------------------------------------------------------*/

/*----------------------------------------------------------*/
/* PAGE STYLES                                              */
/*----------------------------------------------------------*/
body {
	background: rgb(190,190,190) url(../images/bg-content.png) repeat;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: sans-serif;
	vertical-align: baseline;
}
a {
	text-decoration: none;
	color: #D52;
}
a:hover {
	text-decoration: underline;
}
img {
	max-width: 100%;
}
/*----------------------------------------------------------*/
/* UTILITY CLASSES                                          */
/*----------------------------------------------------------*/
.center {
	text-align: center;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clearfix {
	clear: both;
}
.row-fluid {
	clear: both;
}
.pull-right.item-image {
	margin: 0 0 20px 20px;
}.pull-left.item-image {
	margin: 0 20px 20px 0;
}
.phone-label{
	display: inline-block;
	text-align: left;
	width: 80px;
}
/*----------------------------------------------------------*/
/* PAGE SECTION STYLES                                      */
/*----------------------------------------------------------*/
.header {
	background: url(../images/bg-header.png) repeat;
}
.dropshadow {
	background: url(../images/bg-drop-shadow.png) repeat-x;
	position: relative;
	z-index: 10;
	height: 10px;
	
}
.content {
	background-color: white;
	margin-top: -10px;
	padding-bottom: 20px;
}
.footer {
	background: url(../images/bg-footer.png) repeat;
	color: white;
	line-height: 1.2em;
}
.copyright {
	background-color: rgb( 23, 23, 23 );
	color: white;
	line-height: 1.2em;
	font-size: small;
	text-align: center;
	padding: 10px 0;
}
/*----------------------------------------------------------*/
/* HORZONTAL NAVIGATION BAR                                 */
/*----------------------------------------------------------*/
.horiznav {
	background: url(../images/bg-nav.png) repeat-x;
	height: 40px;
	text-align: center;
}
.horiznav a:link,
.horiznav a:visited ,
.horiznav span {
    font-size: large;
	font-family: sans-serif;
	color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}
.horiznav a:hover,
.horiznav a:active,
.horiznav span:hover {
	color: #4E1400;
	-moz-transition:    color 0.25s;
    -webkit-transition: color 0.25s;
    -o-transition:      color 0.25s;
    transition:         color 0.25s;
}
.horiznav ul {
	margin: 0;
	padding: 0;
}
.horiznav li {
	background: url(../images/bg-nav-horiz-divider.png) center right no-repeat;
	margin: 0;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	cursor: pointer;
	cursor: hand;
}
.horiznav li:hover ul {
	display: block;
	margin-left: -20px;
}
.horiznav li:last-child {
	background-image: none;		/* Hide horizontal divider on last entry */
}
.horiznav li ul:before {
	/* Display drop shadow at the top of drop-down menus */
	display: block;
	background: url(../images/bg-nav-shadow.png) repeat-x;
	height: 10px;
	content: "";
}
.horiznav li ul {
	display: none;				/* Hide drop-down menus by default */
	position: absolute;
	margin-top: -1px;
	z-index: 20;				/* Float above divs below */
}
.horiznav li ul li {
	text-align: left;
}
.horiznav li ul li {
	display: block;
	background: #D52 url(../images/bg-nav-vert-divider.png) 0 bottom repeat-x;
}
.horiznav li ul li:last-child {
	background: #D52;
	border-bottom: 1px solid #C94A1D;
}
.horiznav a.horiznav-menubtn {
	display: none;				/* Hide hamburger button by default */
	margin: 9px;
}
.horiznav .horiznav-menubtn span{
	display: block;
	margin: 3px 1px;
	height: 3px;
	width: 20px;
	background: #FFF;
	border-radius: 3px;
}
/*----------------------------------------------------------*/
/* VERTICAL NAVIGATION BAR                                  */
/*----------------------------------------------------------*/
.vertnav h3 {
	margin: 0;
	text-align: center;
	background: url(../images/bg-nav.png) repeat-x;
	border-top: 1px solid #CCC;
	color: white;
	text-transform: uppercase;
	font-weight: normal;
	font-size: large;
}
.vertnav h3:after {
	display: block;
	background: url(../images/bg-drop-shadow.png) repeat-x #D52;
	height: 10px;
	content: "";
}
.vertnav ul {
	margin: 0;
	padding: 0;
}
.vertnav li {
	background: url(../images/bg-nav-vert-divider.png) 0 bottom repeat-x #D52;
	line-height: 40px;
	padding-left: 20px;
	list-style-type: none;
}
.vertnav li:last-child {
    background: #D52;
}
.vertnav a, .nav-header {
	color: white;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
}
.vertnav a:hover, .nav-header:hover {
	color: #4E1400;
    -moz-transition:    color .25s;
    -webkit-transition: color .25s;
    -o-transition:      color .25s;
    transition:         color .25s;
}
.vertnav ul ul {
	margin-left: -20px;
}
.vertnav ul ul:before {
	display: block;
	background: url(../images/bg-drop-shadow.png) repeat-x #DDD;
	height: 10px;
	content: "";
}
.vertnav ul ul li {
	background: url(../images/bg-nav-vert-divider-grey.png) 0 bottom repeat-x #DDD;
	padding-left: 40px;
}
.vertnav ul ul li:last-child {
	background: #DDD;
	border-bottom: 1px solid #999;
	padding-left: 40px;
}
.vertnav ul ul li a {
	color: black;
}
.vertnav ul ul li a:hover {
	color: #D52;
    -moz-transition:    color .25s;
    -webkit-transition: color .25s;
    -o-transition:      color .25s;
    transition:         color .25s;
}
/*----------------------------------------------------------*/
/* BREADCRUMBS                                              */
/*----------------------------------------------------------*/
.breadcrumb {
	background: url(../images/icon-home.png) no-repeat 0px 4px;
	margin: 0;
	padding-left: 18px;
	line-height: 1.5em;
	border-bottom: dotted 1px black;
}
.breadcrumb .pathway {
	color: #D52;
}
.breadcrumb .pathway:hover {
	text-decoration: underline;
}
.breadcrumb .divider {
	background: none;
	content: ">";
}
.breadcrumb li {
	display: inline;
	color: #000;
    text-transform: uppercase;
}
/*----------------------------------------------------------*/
/* PAGINATION                                               */
/*----------------------------------------------------------*/
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 10px;
  width: 100%;
}.pagination ul {
	margin: 0;
	padding: 0;
}.pagination li {
	display: inline-block;
	text-align: center;
	padding: 0;
	margin-left: 3px;
	min-width: 30px;
	height: 30px;
	line-height: 30px;
}.pagination li.pagination-start, .pagination li.pagination-end {
	display: none;
}.pagination a {
	display: block;
	text-decoration: none;
	color: #D52;
	padding: 0;
	margin-left: 3px;
	min-width: 30px;
	height: 30px;
	line-height: 30px;
}.pagination span.pagenav {
  cursor: default;
  color: #000;
}.pagination span.pagenav, a:active {
  outline: none;
}
/*----------------------------------------------------------*/
/* ARTICLE STYLES                                            */
/*----------------------------------------------------------*/
.item {
	margin-bottom: 30px;
}.article-info {
	font-size: 80%;
	margin-bottom: 10px;
}
.createdby:before {
	content: url('../images/icon-user.png');
	vertical-align: middle;
	height: 16px;
	width: 16px;
}
.modified:before {
	content: url('../images/icon-calendar.png');
	vertical-align: middle;
	height: 16px;
	width: 16px;
}
/*----------------------------------------------------------*/
/* RESPONSIVE DESIGN ADJUSTMENTS                            */
/*----------------------------------------------------------*/
/* Widescreen and large desktops */
@media only screen and (max-width : 1200px) {
	.horiznav li{
		padding: 0 12px;	/* Reduce padding between menu items on smaller screens */
	}
}
/* Desktops */
@media only screen and (max-width : 960px) {
	.horiznav li{
		padding: 0 8px;		/* Further reduce padding between menu items on smaller screens */
	}
}
/* Vertical iPad and tablets */
@media only screen and (max-width : 767px) {
	#header-secondary-image {
		display: none;		/* Remove secondary header logo */
	}
	.content {
		padding-bottom: 0;	/* Remove extra padding at bottom of content window */
	}
	/*----------------------------------------------------------*/
	/* SWITCH TO MOBILE NAVIGATION BAR                          */
	/*----------------------------------------------------------*/
	.horiznav {
		font-size: 100%;
		text-align: left;
	}
	.horiznav a.horiznav-menubtn {
		display: inline-block;		/* Show hamburger menu button */
	}
	.horiznav a, .nav-header {
		font-size: 100% !important;
	}
	.horiznav a:hover, .nav-header:hover {
		color: #4E1400;
		-moz-transition:    color .25s;
		-webkit-transition: color .25s;
		-o-transition:      color .25s;
		transition:         color .25s;
	}
	.horiznav ul {
		background-color: #D52;
		position: fixed;
		top: 0;
		width: 85vw;				/* Cover 85% of the horizontal screen width */
		left: -85vw;				/* Hide menu by pushing it -85% of the horizontal screen width to the left */
		height: 100%;
		overflow-x: hidden;			/* Disable horizontal scroll */
		z-index: 20;				/* Stay on top */
	}
	.horiznav li {
		display: block;
		background: url(../images/bg-nav-vert-divider.png) 0 bottom repeat-x #D52;
		height: unset;
		line-height: 40px;
		padding-left: 20px;
		list-style-type: none;
	}
	.horiznav li:last-child {
		background: url(../images/bg-nav-vert-divider.png) 0 bottom repeat-x #D52;
	}
	.horiznav ul ul {
		display: none;
		position: inherit;
		height: unset;
		margin-top: 0;
		margin-left: -20px;
		z-index: 0;
	}
	.horiznav ul ul:before {
		display: block;
		background: url(../images/bg-drop-shadow.png) repeat-x #ddd;
		height: 10px;
		content: "";
	}
	.horiznav ul ul li {
		display: block;
		background: url(../images/bg-nav-vert-divider-grey.png) 0 bottom repeat-x #DDD;
		line-height: 40px;
		padding-left: 40px;
		list-style-type: none;
	}
	.horiznav ul ul li:last-child {
		background-color: #DDD;
	}
	.horiznav ul ul li a {
		color: black !important;
	}
	.horiznav ul ul li a:hover {
		color: #D52;
		-moz-transition:    color .25s;
		-webkit-transition: color .25s;
		-o-transition:      color .25s;
		transition:         color .25s;
	}
}
/* Vertical cell phones */
@media only screen and (max-width : 480px) {
}
/*----------------------------------------------------------*/
/* TEXT STYLES                                              */
/*----------------------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	color: inherit;
	text-rendering: optimizelegibility;
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
	font-weight: normal;
	line-height: 1;
	color: #999;
}
h1 {
	font-size: 36px;
	line-height: 40px;
}
h2 {
	font-size: 30px;
	line-height: 40px;
}
h3 {
	font-size: 24px;
	line-height: 40px;
}
h4 {
	font-size: 18px;
	line-height: 20px;
}
h5 {
	font-size: 14px;
	line-height: 20px;
}
h6 {
	font-size: 12px;
	line-height: 20px;
}
h1 small {
	font-size: 24px;
}
h2 small {
	font-size: 18px;
}
h3 small {
	font-size: 14px;
}
h4 small {
	font-size: 14px;
}